
<h2>Create an Event</h2>

<div class="container-fluid">
  <div class="col-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', event: @event %>
      </div>
      <div class="panel-footer">
        <p><%= link_to 'Return to all events', root_path %></p>
      </div>
    </div>
  </div>
</div>

